<div style = 'display: inline-block; vertical-align: top; margin-right: 20%'>
<partial name="RegisterPartial" />
</div>
<div style = 'display: inline-block; vertical-align: top'>
<partial name="LoginPartial" />
</div>